@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <div class="container p-5">
        <div class="container">
            <img src="@Url.Content("~/images/judy.png")" alt="logo" height="200" />
        </div>
        <br />
        <h1 class="mt-10 pt-5">About the Creator</h1>
        <h4 class="mt-5">Hi, I'm ju. A software developer specialized in web application.</h4>
        <h4 class="mt-1">23 years old. Part-time Medium writer.</h4>
        <br />
        <h5>Find me on:</h5>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/judy-giaying-chin/">https://www.linkedin.com/in/judy-giaying-chin/</a></p>
        <p>GitHub: <a href="https://github.com/c20chin">https://github.com/c20chin</a></p>
        <p>Portfolio: <a href="https://c20chin.github.io/">https://c20chin.github.io/</a></p>
        <p>Medium: <a href="https://medium.com/%40.ju">https://medium.com/%40.ju</a></p>
    </div>

</div>
