@model IEnumerable<Blog.NETMVC.Models.Domain.Mission>

<!DOCTYPE html>
<html>
<head>
    <title>Missions</title>
</head>
<body>
    <h1>Missions</h1>

    @if (Model != null)
     {
        <table>
            <thead>
                <tr>
                    <th>Mission ID</th>
                    <th>Mission Name</th>
                    <th>Website</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mission in Model)
                {
                    <tr>
                        <td>@mission.mission_id</td>
                        <td>@mission.mission_name</td>
                        <td>@mission.website</td>
                        <td>@mission.description</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No missions found.</p>
    }
</body>
</html>
