@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container p-5">
        <h1 class="display-4 mt-10">Welcome</h1>
        <h4 class="display-6 mt-5">This is a practice website using ASP.NET, C# in the backend, and Bootstrap + HTML in the frontend. </h4>
        <p>See the <a asp-area="" asp-controller="About" asp-action="Index">About</a> link to learn more about .ju</p>
    </div>
    
</div>